parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Ignore PHP 7 vs PHP 8 fight
        -
            message: '#Property JakubBoucek\\EscPos\\Connections\\Network::\$socket has unknown class Socket as its type.#'
            path: src/Connections/Network.php
        -
            message: '#PHPDoc tag \@var for variable \$socket contains unknown class Socket.#'
            path: src/Connections/Network.php
        -
            message: '#Class Socket not found.#'
            path: src/Connections/Network.php
